@page "/dogs"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DogAdoption.Models
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory

<PageTitle>Index</PageTitle>

<PageTitle>Index</PageTitle>

<h1>Admin Dogs View</h1>

<p>
    <a href="dogs/create">Add a dog</a>
</p>

<p>
    <a href="dogs/search">Search for a Dog</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Dog">
    <PropertyColumn Property="dog => dog.Name" />
    <PropertyColumn Property="dog => dog.Breed" />
    <PropertyColumn Property="dog => dog.age" />
    <TemplateColumn Title="Image" Context="dog">
        <img src="@dog.ImageUrl" alt="@dog.Breed" style="max-width: 100px; max-height: 100px;" />
    </TemplateColumn>
    <PropertyColumn Property="dog => dog.Description" />
    <PropertyColumn Property="dog => dog.HealthStatus" />
    <PropertyColumn Property="dog => dog.Temperament" />

    <TemplateColumn Context="dog">
        <a href="@($"dogs/edit?id={dog.Id}")">Edit</a> |
        <a href="@($"dogs/details?id={dog.Id}")">Details</a> |
        <a href="@($"dogs/delete?id={dog.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
